.outer-container {
  display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 90%;
    position: relative;
    max-width: 900px;
  }
  .container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 90%;
    position: relative;
  }
  
  .padding {
      display: flex;
      height: 70%;
  }
  .image {
    max-width: 300px;
    height: auto;
    margin: 20px;
  }
  .next-button {
    position: relative;
    bottom: 9px;
    left: 50%;
    transform: translateX(-50%);
  }
  @media (min-width: 960px) {
    .image {
      width: calc(45% - 10px);
      max-width: calc(45% - 10px);
    }
  }